<ion-view hide-nav-bar="true">
	<ion-content class="homeGame" padding="false">
	
		<div class="game-choice">
			<img class="fond" src="img/room.jpg" alt="fond" />
			<img src="img/ruby.png" id="test" alt="">
			<!-- <audio src="musique.mp3"></audio> -->
			
			<!-- <img class="fond" src="img/fond.jpg" alt="fond" />
			<img class="door1" src="img/door.png" alt="background" />
			<img class="door2" src="img/door.png" alt="background" />
			<img class="door3" src="img/door.png" alt="background" />
			<img class="flowers1" src="img/flowers.png" alt="flowers" />
			<img class="flowers2" src="img/flowers.png" alt="flowers" />
			<img class="flowers3" src="img/flowers.png" alt="flowers" /> -->
			
		</div>
	
	</ion-content>
</ion-view>