<ion-view style="" id="home" title="APP NAME">
    <ion-content class="has-header" padding="true">
        <div style="color: rgb(0, 0, 0); text-align: center;" id="home-markdown1">
            <h1>Welcome</h1>
        </div>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Nom d'utilisateur</span>
                <input placeholder="" type="text" ng-model="data.username">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Mot de passe</span>
                <input placeholder="" type="password" ng-model="data.password">
            </label>
        </form>
        <a href="#/homeGame">
            <button class="button button-positive  button-block" id="home-button1" ng-click="login()">Login</button>
        </a>
        <a href="#/signup">
            <button class="button button-positive  button-block" id="home-button2">Sign up !</button>
        </a>
    </ion-content>
</ion-view>