<ion-view style="" id="page1" title="APP NAME">
    <ion-content class="has-header" padding="true">
        <div style="color: rgb(0, 0, 0); text-align: center;" id="home-markdown1">
            <h1>Welcome</h1>
        </div>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Nom d'utilisateur</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Mot de passe</span>
                <input placeholder="" type="password">
            </label>
        </form>
        <a href="#/page2"><button class="button button-positive  button-block" id="home-button1">Login</button></a>
        <button class="button button-positive  button-block" id="home-button2">Sign up !</button>
    </ion-content>
</ion-view>