<ion-side-menus style="" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-energized">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="menu-page" id="side-menu21">
        <!-- <ion-header-bar class="bar-stable bar-clear">
            <div class="title">Menu</div>
        </ion-header-bar> -->
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list >
                <ion-item class="menu-title menu-element">MENU</ion-item>
                <hr style="width: 60%;" ui-sref="">
                <ion-item class="menu-element" ui-sref="menu.homeGame">Jeux</ion-item>
                <ion-item class="menu-element" ui-sref="menu.compte">Profile</ion-item>
                <ion-item class="menu-element" ui-sref="menu.chat">Chat</ion-item>
                <!-- <img src="img/papyrus.jpg" alt=""> -->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>