<ion-view style="" id="quiz" title="Home game">

    <ion-content class="has-header" padding="true">


        <div ng-show="step < 3" class="button-new-game">
            <!-- button new game -->
            <button ng-show="step == 1" ng-click="step=2" class="step1 button button-block button-positive">Nouvelle Partie</button>

            <!-- choose type of game	 -->
            <button ng-show="step == 2" ng-click="step=3" class="step2 button button-block button-positive">Culture Générale</button>
            <button ng-show="step == 2" ng-click="step=4" class="step3 button button-block button-positive">Culture Code</button>
        </div>


			<!-- historique des game -->
        	<hr ng-show="step < 3">
        	<h2 ng-show="step < 3">Historique</h2>
			<ion-item ng-show="step < 3" class="item-thumbnail-left" ng-repeat="career in careers">
				<img ng-src=/img/quiz-{{career.game.category}}.png alt="quiz {{career.game.category}} logo">
				<h2>{{career.game.name}}</h2>
				<h3>{{career.game.result}}</h3>
				<hr>
				<h3>Adversaire : {{users[$index+2].name}}</h3>
			</ion-item>	


        <!-- choose culture theme -->
        <div ng-show="step == 3">
            <h3>Culture Générale</h3>

            <button class="button button-block button-positive">Généralité</button>
            <button class="button button-block button-positive">Multi-catégories</button>

            <h5>Scolaire</h5>
            <button class="button button-block button-positive" ng-click="step=80">Histoire</button>
            <button class="button button-block button-positive" ng-click="step=90">Géographie</button>
            <button class="button button-block button-positive" ng-click="step=100">Mathématiques</button>
            <button class="button button-block button-positive">Français</button>

            <h5>Loisirs</h5>
            <button class="button button-block button-positive">Cinéma</button>
            <button class="button button-block button-positive">Musique</button>
            <button class="button button-block button-positive">Sport</button>
        </div>

        <!-- Questions histoires -->
        <div class="questions" ng-show="step == 80">
            <ion-item class="item-text-wrap container-question" ng-repeat="question in quiz.generales.histoire | filter: {questionNumber : question}">
                <h2>{{question.question}}</h2>
                <button ng-click="checkRep(question.choice1, question.questionNumber.parseFloat())" class="button button-royal button-block test">{{question.choice1}}</button>
                <button ng-click="checkRep(question.choice2, $index)" class="button button-royal button-block">{{question.choice2}}</button>
                <button ng-click="checkRep(question.choice3, $index)" class="button button-royal button-block">{{question.choice3}}</button>
                <button ng-click="checkRep(question.choice4, $index)" class="button button-royal button-block">{{question.choice4}}</button>
            </ion-item>
            </ion-item>
            <button ng-click="question == 7 ? step=51 : question = question+1" class="button button-block button-positive">Question suivante</button>
        </div>

        <!-- Questions géo -->
        <div class="questions" ng-show="step == 90">
            <ion-item class="item-text-wrap container-question" ng-repeat="question in quiz.generales.geographie | filter: {questionNumber : question}">
                <h2>{{question.question}}</h2>
                <button ng-click="checkRep(question.choice1, question.questionNumber.parseFloat())" class="button button-royal button-block">{{question.choice1}}</button>
                <button ng-click="checkRep(question.choice2, $index)" class="button button-royal button-block">{{question.choice2}}</button>
                <button ng-click="checkRep(question.choice3, $index)" class="button button-royal button-block">{{question.choice3}}</button>
                <button ng-click="checkRep(question.choice4, $index)" class="button button-royal button-block">{{question.choice4}}</button>
            </ion-item>
            </ion-item>
            <button ng-click="question == 7 ? step=51 : question = question+1" class="button button-block button-positive">Question suivante</button>
        </div>

        <!-- Questions math -->
        <div class="questions" ng-show="step == 100">
            <ion-item class="item-text-wrap container-question" ng-repeat="question in quiz.generales.mathematiques | filter: {questionNumber : question}">
                <h2>{{question.question}}</h2>
                <button ng-click="checkRep(question.choice1, question.questionNumber.parseFloat())" class="button button-royal button-block">{{question.choice1}}</button>
                <button ng-click="checkRep(question.choice2, $index)" class="button button-royal button-block">{{question.choice2}}</button>
                <button ng-click="checkRep(question.choice3, $index)" class="button button-royal button-block">{{question.choice3}}</button>
                <button ng-click="checkRep(question.choice4, $index)" class="button button-royal button-block">{{question.choice4}}</button>
            </ion-item>
            </ion-item>
            <button ng-click="question == 7 ? step=51 : question = question+1" class="button button-block button-positive">Question suivante</button>
        </div>



        <!-- choose code language -->
        <div class="button-languages" ng-show="step == 4">
            <h3 class="titleCode">Culture Code</h3>
            <hr>
            <button ng-click="step=5; question=1" class="button button-block button-light">
                <img src="/img/ruby.png" alt="logo ruby">
            </button>

            <button ng-click="step=6" class="button button-block button-light">
                <img src="/img/php.png" alt="logo php">
            </button>

            <button ng-click="step=7" class="button button-block button-light">
                <img src="/img/javascript.png" alt="logo javascript">
            </button>

            <button class="noLogo button button-block button-light">Je suis un warrior !</button>

            <button class="noLogo button button-block button-light">Je suis indécis</button>
        </div>


       <!-- question ruby -->
		<div class="questions" ng-show="step == 5">
			<ion-item class="item-text-wrap container-question; " ng-repeat="question in quiz.ruby | filter: {questionNumber : question}">
				<h2>{{question.question}}</h2>
				<button ng-click="checkRep(question.choice1, question.questionNumber)" class="button button-royal button-block">{{question.choice1}}</button>
				<button ng-click="checkRep(question.choice2, question.questionNumber)" class="button button-royal button-block">{{question.choice2}}</button>
				<button ng-click="checkRep(question.choice3, question.questionNumber)" class="button button-royal button-block">{{question.choice3}}</button>
				<button ng-click="checkRep(question.choice4, question.questionNumber)" class="button button-royal button-block">{{question.choice4}}</button>
			</ion-item>
			<button ng-click="question == 7 ? step=51 : question = question+1" class="button button-block button-positive button-next-question">Question suivante</button>
		</div>
		
		<!-- recap pour un joueur -->
		<div ng-show="step == 51">
		<h1>Tes résultats</h1>
			<ion-item class="item-text-wrap container-question" ng-repeat="question in quiz.ruby">
				<h2>{{question.question}}</h2>
				<p ng-show="answer[$index] == 'good'" class="bravo">{{(answer[$index]) == "good" ? "BRAVO !" : ""}}</p>
				<p ng-show="answer[$index] != 'good'"class="dommage">{{(answer[$index]) != "good" ? "DOMMAGE !" : ""}}</p>
				{{question.answer}}
			</ion-item>
			<button ng-click="step=52" class="button button-block button-positive">Suivant</button>
		</div>

		<!-- recaps de deux joeurs -->
		<div class="recaps-container" ng-show="step == 52">
		<h1>Comparez vos réponses</h1>
			<div class="joueur1">
				<ion-item ng-repeat="question in quiz.ruby">
					<h2>Question N°{{question.questionNumber}}</h2>
					<p ng-show="answer[$index] == 'good'" class="bravo">{{(answer[$index]) == "good" ? "BRAVO !" : ""}}</p>
					<p ng-show="answer[$index] != 'good'"class="dommage">{{(answer[$index]) != "good" ? "DOMMAGE !" : ""}}</p>
					<hr>
				</ion-item>
			</div>
			<div class="joueur2">
				<ion-item>
					<h2>Question N°1</h2>
					<p class="bravo">BRAVO !</p>
					<hr>
				</ion-item>
				<ion-item>
					<h2>Question N°2</h2>
					<p class="dommage">Dommage !</p>
					<hr>
				</ion-item>
				<ion-item>
					<h2>Question N°3</h2>
					<p class="dommage">Dommage !</p>
					<hr>
				</ion-item>
				<ion-item>
					<h2>Question N°4</h2>
					<p class="dommage">Dommage !</p>
					<hr>
				</ion-item>
				<ion-item>
					<h2>Question N°5</h2>
					<p class="dommage">Dommage !</p>
					<hr>
				</ion-item>
				<ion-item>
					<h2>Question N°6</h2>
					<p class="dommage">Dommage !</p>
					<hr>
				</ion-item>
				<ion-item>
					<h2>Question N°7</h2>
					<p class="dommage">Dommage !</p>
					<hr>
				</ion-item>
			</div>
			<button ng-click="step=53; calculDistance()" class="button button-block button-positive">Suivant</button>
		</div>

		
		<div class="winner" ng-show="step == 53">
			<h2>Et le gagnant est ....</h2>
			<h1>Alex & Greg !</h1>
			<img src="../img/alex-greg.jpg" alt="nous">
			<p>Vous êtes a {{distance}}m de votre adversaire</p>
			<button ng-click="step=54" class="button button-block button-positive">Donner un gage</button>
			<button ng-click="step=2" class="button button-block button-positive">Nouvelle Partie</button>
		</div>
		
		<div class="gage-container" ng-show="step == 54">
			<h3>Ton gage a bien été envoyé à Benjamin :</h3>
			<ion-item class="item-default item-text-wrap">
				<h1>Faire un bisou à Caroline !</h1>
			</ion-item>
			<button ng-click="step=2" class="button button-block button-positive btn-new-in-gage">Nouvelle Partie</button>
		</div>
    </ion-content>
</ion-view>