@font-face {
    font-family: "Chalk";
    src: url('../font/Colored Crayons.ttf');
}
#test {
	position: absolute;
	left: 0;
	top: 0;
	width: 30vw;
	transition-duration: 2s;
}
body{
	text-align: center;
}
.fond {
	width: 100vw;
	height: 100vh;
}
.arrow {
	position: absolute;
	top: 45vh;
	left: 0;
	width: 7vw;
	height: 10vh;
}
.sound {
	position: absolute;
	top: 0;
	left: -31vw;
}
.menu-page {
	font-family: 'Marck Script', cursive;
	font-weight: bold;
	text-align: center;
	background-image: url('../img/papyrus.jpg');
	background-size: 100% 100%;
}
.menu-title {
	font-size: 200%;
	border: none;
	background-color: transparent!important;
}
.item-content, .menu-element {
	font-size: 120%;
	border: none;
	background-color: transparent!important;
}
.game-choice .btn-quiz {
	background-image: url('../img/btn-papyrus.jpg');
	background-size: 100% 150%;
	font-family: 'Marck Script', cursive;
	font-weight: bold;
	font-size: 150%;
    position: absolute;
    width: 33vw;
    top: 35vh;
    left: 33.3vw;
    box-shadow: 0px 0px 3px black;
}
.game-choice .btn-pendu {
	background-image: url('../img/btn-papyrus.jpg');
	background-size: 100% 200%;
	font-family: 'Marck Script', cursive;
	font-weight: bold;
	font-size: 150%;
    position: absolute;
    width: 33vw;
    top: 55vh;
    left: 33.3vw;
    box-shadow: 0px 0px 3px black;
}


/*===============================================
QUIZ
=================================================*/
.quiz {
	font-family: 'Marck Script', cursive;
	text-align: center;
    text-shadow: 0px 0px 1px black;
}
.quiz-title {
    position: absolute;
    font-family: 'Chalk', cursive;
    color: #FFFFFF;
    font-size: 390%;
    top: 17vh;
    left: 10vw;
}
.button-new-game button {
	text-align: center;
    text-shadow: 0px 0px 3px black;
    box-shadow: 1px 1px 3px black;
    border-radius: 4px;
}
.slate {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.papyrus {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.quiz button {
    font-family: 'Chalk', cursive;
    color: #FFFFFF;
    font-size: 288%;
    text-align: center;
    top: 40vh;
}
.btn-culture {
	box-shadow: none!important;
}
.history {
	position: absolute;
	top: 0;
	left: 0;
	top: 100vh;
	width: 100vw;
}
.history h2 {
	margin: 10% 0 5% 0;
}
.history h1, .history h3 {
	display: inline-block;
}
.button-languages>button>img {
	width: 30%;
	margin: auto;
	margin-top: 15px;
}
.container-question {
	text-align: center;
}
.questions {
	margin-top: 20%!important;
}
.bravo {
	color: #20A611!important;
}
.dommage {
	color: #FF0000!important;
}
.recaps-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: auto;
}
.racaps-container>h1 {
	width: 100%;
}
.joueur1, .joueur2 {
	width: 48%;
}
.winner>img {
	width: 80%;
}
/*.button-next-question {
	position: absolute;
	bottom: 10%;
	left: 0;
}*/
.btn-new-in-gage {
	position: absolute;
	bottom: 25%;
	left: 0;
}
.gage-container {
	margin-top: 20%;
}