#test {
	position: absolute;
	left: 0;
	top: 0;
	width: 30vw;
	transition-duration: 2s;
}
body{
	text-align: center;
}
.fond {
	width: 100vw;
	height: 100vh;
}
.arrow {
	position: absolute;
	top: 45vh;
	left: 0;
	width: 7vw;
	height: 10vh;
}
.menu-page {
	text-align: center;
	background-image: url('../img/papyrus.jpg');
	background-size: 100% 100%;
}
.item-content, .menu-element {
	border: none;
	background-color: transparent!important;
}
.game-choice .btn-quiz {
    position: absolute;
    width: 33vw;
    top: 35vh;
    left: 33.3vw;
    box-shadow: 0px 0px 3px black;
}
.game-choice .btn-pendu {
    position: absolute;
    width: 33vw;
    top: 55vh;
    left: 33.3vw;
    box-shadow: 0px 0px 3px black;
}
.button-new-game {
	margin-top: 20%!important;
	margin-bottom: 20%!important;
	max-height: 20%!important;
	min-height: 20%!important;
}
.game-history {
	position: absolute;
	top: 100px!important;
}
.button-languages>button>img {
	width: 30%;
	margin: auto;
	margin-top: 15px;
}
.container-question {
	text-align: center;
}
.questions {
	margin-top: 20%!important;
}
.bravo {
	color: #20A611!important;
}
.dommage {
	color: #FF0000!important;
}
.recaps-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: auto;
}
.racaps-container>h1 {
	width: 100%;
}
.joueur1, .joueur2 {
	width: 48%;
}
.winner>img {
	width: 80%;
}
/*.button-next-question {
	position: absolute;
	bottom: 10%;
	left: 0;
}*/
.btn-new-in-gage {
	position: absolute;
	bottom: 25%;
	left: 0;
}
.gage-container {
	margin-top: 20%;
}